body {
  width: 90%;
  margin: 0 auto;
  color: #222222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro {
  text-align: center;
  display: block;
  padding-bottom: 0.5em;
  margin: 0 auto;
}
.intro h1 {
  font-family: "Oleo Script";
  text-shadow: white 1px 1px 0;
  color: #274b6a;
}

.wrapper {
  text-align: center;
}

.cta {
  font-size: 1.5rem;
}

.gauge {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.gauge__values {
  position: absolute;
  font-family: 'Helvetica Neue';
  line-height: 1;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-left: -63px;
  left: 50%;
  top: 50%;
  margin-top: -12px;
}
.yellow .gauge__values, .orange .gauge__values {
  color: #000;
}

.gauge_value, .gauge_rating {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.gauge_value {
  font-size: .85em;
}

.gauge_rating {
  font-size: 1em;
  letter-spacing: .1em;
}

svg {
  display: block;
  margin: 1em auto 0;
}

.outer_ring {
  fill: #AFE1F9;
}

.spinner {
  fill: #6FBE46;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
  transform-origin: 120px 120px;
  transition: all 1s;
}
.green .spinner {
  fill: #6DBE46;
  transform: rotate(75deg);
}
.yellow .spinner {
  fill: #F0E91B;
  transform: rotate(125deg);
}
.orange .spinner {
  fill: #F89A21;
  transform: rotate(180deg);
}
.purple .spinner {
  fill: #8F2F60;
  transform: rotate(230deg);
}
.red .spinner {
  fill: #861720;
  transform: rotate(280deg);
}

.ring_green {
  fill: #6DBE46;
}

.ring_yellow {
  fill: #F0E91B;
}

.ring_orange {
  fill: #F89A21;
}

.ring_purple {
  fill: #8F2F60;
}

.ring_red {
  fill: #861720;
}

.type {
  fill: #fff;
}

h5 {
  background: aqua;
  padding: 1em;
  border-radius: 0.5em;
}
